@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'gobold';
  src: 
      url("./fonts/Gobold\ Thin.otf") format("opentype")
}
@font-face {
  font-family: 'gilgan';
  src: 
      url("./fonts/Gilgan.otf") format("opentype")
}

.App {
  text-align: center;
  background-color: #f8f8ff;;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: #0f172a;
  padding-bottom: 20px;
}

h2 {
  font-family: "gobold";
  color: #658bbb;
}

#activity {
  font-family: "gilgan";
  color: #779ecb;
  text-align: left;
}

input {
  font-family: "gilgan";
  background-color: #e2e8f0;
  color: #9DA3AE;
}

button {
  background-color: #658bbb;
  text-align: center;
  color: #f8f8ff;
}

#productivity {
  height: 40vmin;
  pointer-events: none;
}

#output {
  display: flex;
  justify-content: center;
  color: #779ecb;
  font-size: 40px;
  margin-bottom: 10px;
}

#text {
  color: #779ecb;
}

.App-link {
  color: #61dafb;
}
